@import url('https://fonts.googleapis.com/css?family=Lobster');
div {
	background-image: url("http://media.einfachtierisch.de/thumbnail/600/0/media.einfachtierisch.de/images/2013/01/Junge-Katze-Erziehen.jpg");
	background-position: top;
	
	
}
p { 
	border-left: 1px  solid #880000;
		 text-indent:1em;
		 font-family: 'Lobster', cursive;
		 font-size: 14px;
		 }
		 
h2 { font-family: Tahoma, Arial, sans-serif;
	 font-size: 24px
	 }
	 

